<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      @if (!mostrandoFormulario()) {
        <app-generic-table
          [columns]="columns"
          [actions]="actions"
          [items]="items()"
          [loading]="loading()"
          [totalCount]="totalCount()"
          [currentPage]="currentPage()"
          [totalPages]="totalPages()"
          [pageSize]="pageSize()"
          [showNew]="true"
          (actionCalled)="onAction($event)"
          (searchChanged)="onSearch($event)"
          (pageNext)="onPageNext()"
          (pagePrev)="onPagePrev()"
          (newClicked)="onNuevo()"
        >
        </app-generic-table>
      } @else {
        <app-rol-form
          [rol]="rolSeleccionado"
          (guardar)="onGuardarRol($event)"
          (cancelar)="onCancelarEdicion()"
          (volverALista)="volverALista()">
        </app-rol-form>
      }
    </div>
  </div>
</div>

<app-confirm-modal
  #confirmModal
  title="Confirmar eliminación"
  message="¿Está seguro que desea eliminar el rol?"
  [itemName]="rolAEliminar?.sRol"
  (confirmed)="confirmarEliminacion()"
  (cancelled)="cancelarEliminacion()"
>
</app-confirm-modal>
