<div id="main-wrapper">

  <app-topbar />

  <aside class="left-sidebar">
    <div class="scroll-sidebar">
      <nav class="sidebar-nav">
        <app-sidebar-nav [items]="menuItems" />
      </nav>
    </div>
  </aside>

  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">{{ currentTitle }}</h4>
        </div>
      </div>
      <main class="admin-main">
        <router-outlet />
      </main>
    </div>
  </div>

  <app-footer />

</div>
