<div id="main-wrapper">

  <app-topbar
    [isMiniSidebar]="isMiniSidebar()"
    (toggleSidebar)="onToggleSidebar()"
    (toggleMobileNav)="onToggleMobileNav()"
  />
  <app-sidebar
    [role]="userRole"
    [isMini]="isMiniSidebar()"
    [isMobileNavOpen]="isMobileNavOpen()"
    (navItemSelected)="onNavItemSelected()">
  </app-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">{{ currentTitle }}</h4>
        </div>
      </div>
      <main class="admin-main">
        <router-outlet />
      </main>
    </div>
    <app-footer />
  </div>

</div>
